@media (min-width: 320px) and (max-width: 767px) {

    .ptb-120 {
        padding: 50px 0;
    }

    .swiper-slide {
        height: auto;
        width: auto;
    }

}

/* Extra Small Devices, Phones */

@media (min-width: 480px) and (max-width: 767px) {}

/* Small Devices, Tablets */

@media (min-width: 768px) and (max-width: 991px) {
    .ptb-120 {
        padding: 80px 0;
    }

}

/* Medium Devices, Desktops */

@media (min-width: 992px) and (max-width: 1169px) {}

/* Large Devices, Wide Screens */

@media (min-width: 1170px) and (max-width: 1366px) {}

@media (min-width: 1367px) and (max-width: 1920px) {}